@page
@model BookStore.Areas.Admin.Pages.BookCategories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-2">
    <h1>Book Category List</h1>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory[0].Name)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookCategory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-success me-1" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info me-1" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
